workspace/*.o
workspace/libft.a
workspace/libft/*.o
workspace/libftprintf.a
workspace/tester_tripouille/*
workspace/tester_tripouille
workspace/tester_tripiouille/*
workspace/tester_tripiouille
workspace/ft_printf_tester/*
workspace/ft_printf_tester
workspace/pft
workspace/pft/*
workspace_to_submit
workspace_to_submit/*
a.out
./a.out
.vscode/*
.vscode/